parameters:
	ignoreErrors:
		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Ibexa\\\\Contracts\\\\Test\\\\Rest\\\\Request\\\\Value\\\\EndpointRequestDefinition'' and Ibexa\\Contracts\\Test\\Rest\\Request\\Value\\EndpointRequestDefinition will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/lib/BaseRestWebTestCaseTest.php
